@import url(reset.css);
@keyframes task{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

.yo {
width: 200px;
height: 200px;
/*animation: task 1s linear infinite alternate;*/
animation-name: task;
animation-duration: 0.5s;
}