@import url(reset.css);
*{
	box-sizing: border-box;
}
.header{
	max-width: 1440px;
	height: 160px;
	background-color: #FEB700;
	display: flex;
	margin: auto;
}
.headerName,.footerText{
	font-family: Times New Roman;
	font-size: 50px;
	line-height: 57px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	margin: auto;
}
.columns{
	max-width: 1440px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #E5E5E5;
	padding: 70px;
}
.column{
	width: calc((100% - 100px)/3);
	border: 1px solid #000000;
}
.image1,.image2,.image3{
	background-size: cover;
	background-position: center;
	padding-bottom: 150%;
}
.image1{
	background-image: url(../img/Samosa.png);
}
.image2{
	background-image: url(../img/Frozen.png);
}
.image3{
	background-image: url(../img/Healthiest.png);
}
.text{
	padding: 30px 33px 0px 33px;
}
.title,.content,.contentTitle{
	font-family: Times New Roman;
	font-size: 20px;
	line-height: 23px;
	color: #000000;
}
.title{
	font-weight: bold;
	padding-bottom: 30px;
}
.content{
	padding-bottom: 30px;
}
.footer{
	max-width: 1440px;
	height: 160px;
	background-color: #FEB700;
	display: flex;
	margin: auto;
}